:root {
	--main-color: #dc5e4a;
	--secondary-color: #865241;
	--dark-color: #341e19;

	--radius: 5px;
}

@import 'abstracts/mixins';

@import 'base/normalize';
@import 'base/body';

@import 'sections/menu';
@import 'sections/header';
@import 'sections/aboutme';
@import 'sections/shop';
