:root {
	--main-color: #dc5e4a;
	--secondary-color: #865241;
	--dark-color: #341e19;

	--radius: 5px;
}

* {
	box-sizing: border-box;
	font-size: 10px;
}

@import 'abstracts/mixins';

@import 'base/normalize';
@import 'base/body';

@import 'sections/menu';
@import 'sections/header';
@import 'sections/aboutme';
@import 'sections/shop';
@import 'sections/footer';

.titles-underline {
	fill: var(--dark-color);
	margin-bottom: 3.5rem;
	transform: translateX(50%);
	text-align: center;
	width: 50%;

	@include mq(576px) {
		margin-bottom: 5rem;
	}
}
