.about-us {
	background-color: transparent;
	padding: 5rem 2rem 0;
	position: relative;
	z-index: 1;

	&__title {
		@include titles(2.3rem);
	}

	&__text {
		color: var(--dark-color);
		font-size: 1.6rem;
		line-height: 2.5rem;
		margin: 0 0 4rem 0;
		text-align: center;
	}

	&__image {
		border-radius: var(--radius);
		display: block;
		margin-bottom: 4rem;
		object-fit: cover;
		width: 100%;
	}

	&__button {
		@include button(10.4rem, 1.6rem);
		padding: 1.8rem 1.7rem;
	}
}
