.about-us {
	background-color: transparent;
	padding: 5rem 2rem 0;
	position: relative;
	z-index: 1;

	@media only screen and (min-width: 576px) {
		padding: 8rem 5rem 0;
	}

	@media only screen and (min-width: 768px) {
		padding: 10rem 10.4rem 0;
	}

	@media only screen and (min-width: 992px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, min-content);
		grid-column-gap: 10.3%;
		padding: 10rem 5rem 0;
	}

	@media only screen and (min-width: 1200px) {
		background-color: rgba(220, 94, 74, 0.1);
		grid-template-rows: repeat(3, min-content);
		grid-column-gap: 7.65%;
		padding: 5rem 5rem;
	}

	@media only screen and (min-width: 1600px) {
		grid-template-columns: 70rem 1fr;
		grid-column-gap: 15rem;
		margin: 0 auto;
		padding: 5rem 20.15rem;
	}

	&__title {
		color: var(--dark-color);
		font-size: 2.3rem;
		line-height: 2.3rem;
		text-align: center;
		margin-bottom: 4rem;
		text-transform: uppercase;

		@media only screen and (min-width: 576px) {
			color: var(--dark-color);
			font-size: 3rem;
			line-height: 3rem;
			text-align: center;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		@media only screen and (min-width: 768px) {
			color: var(--dark-color);
			font-size: 4rem;
			line-height: 4rem;
			text-align: center;
			text-transform: uppercase;
		}

		@media only screen and (min-width: 992px) {
			grid-column: 1 / -1;
			grid-row: 1 / 2;
		}

		@media only screen and (min-width: 1200px) {
			margin-bottom: 5rem;
		}
	}

	&__text {
		color: var(--dark-color);
		font-size: 1.6rem;
		line-height: 2.5rem;
		margin: 0 0 4rem 0;
		text-align: center;

		@media only screen and (min-width: 576px) {
			font-size: 1.8rem;
			line-height: 2.8rem;
			margin: 0 0 5rem 0;
			padding: 0 4.8rem;
		}

		@media only screen and (min-width: 768px) {
			font-size: 2.2rem;
			line-height: 3.3rem;
			padding: 0;
		}

		@media only screen and (min-width: 992px) {
			align-self: end;
			font-size: 1.8rem;
			grid-column: 2 / 3;
			grid-row: 3 / 4;
			line-height: 2.6rem;
			margin: 0 0 12.5%;
			text-align: left;
		}

		@media only screen and (min-width: 1200px) {
			font-size: 2rem;
			grid-row: 2 / 3;
			line-height: 3rem;
			margin: 0 0 6rem;
		}

		@media only screen and (min-width: 1600px) {
			font-size: 2.6rem;
			line-height: 4rem;
			margin: 0 0 8rem;
		}
	}

	&__image {
		border-radius: var(--radius);
		display: block;
		margin-bottom: 4rem;
		object-fit: cover;
		width: 100%;

		@media only screen and (min-width: 576px) {
			margin-bottom: 4rem;
		}

		@media only screen and (min-width: 765px) {
			margin-bottom: 5rem;
		}

		@media only screen and (min-width: 992px) {
			grid-column: 1 / 2;
			grid-row: 3 / 5;
			margin-bottom: 0;
		}

		@media only screen and (min-width: 1200px) {
			grid-row: 2 / 4;
		}
	}

	&__button {
		background-color: var(--main-color);
		border: none;
		border-radius: var(--radius);
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 1.6rem;
		font-weight: bold;
		margin: 0 auto;
		padding: 1.8rem 1.7rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 10.4rem;

		@media only screen and (min-width: 576px) {
			background-color: var(--main-color);
			border: none;
			border-radius: var(--radius);
			color: #fff;
			cursor: pointer;
			display: block;
			font-size: 2.2rem;
			font-weight: bold;
			margin: 0 auto;
			padding: 2.1rem 2.6rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 14.8rem;
		}

		@media only screen and (min-width: 768px) {
			background-color: var(--main-color);
			border: none;
			border-radius: var(--radius);
			color: #fff;
			cursor: pointer;
			display: block;
			font-size: 2.6rem;
			font-weight: bold;
			margin: 0 auto;
			padding: 1.9rem 3rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 17.2rem;
		}

		@media only screen and (min-width: 992px) {
			background-color: var(--main-color);
			border: none;
			border-radius: var(--radius);
			color: #fff;
			cursor: pointer;
			display: block;
			font-size: 2rem;
			font-weight: bold;
			grid-column: 2 / 3;
			grid-row: 4 / 5;
			height: 5.5rem;
			margin: 0;
			padding: 1.5rem 3rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 14.6rem;
		}

		@media only screen and (min-width: 1200px) {
			grid-row: 3 / 4;
		}

		@media only screen and (min-width: 1600px) {
			background-color: var(--main-color);
			border: none;
			border-radius: var(--radius);
			color: #fff;
			cursor: pointer;
			display: block;
			font-size: 3rem;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 23rem;
			height: 8rem;
		}
	}
}
